@charset "UTF-8";
@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

.side {
	font-family: cursive;
}

a {
	text-decoration: none;
}
body {
	background-color: #000000;
	font-family: 'Poiret One', cursive;
}
#container {
	max-width: 100vw;
	max-height: 100vh;
	position: relative;
}
header {
	background-color: #fff;
	height: 5vh;
	opacity: 0.3;
	position: absolute;
	display: flex;
}
 .nav {
	font-size: 36px;
	position: relative;
	color: #fff;
	 width: 150px;
	text-shadow: 4px 4px 7px rgba(50, 50, 50, 1);

}

#parent_of_myhex {
	perspective: 1800px;
	perspective-origin: 50% 640px;
	position: relative;
	top: 150px;
	transform:scale(0.7);
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
#left_arrow, #right_arrow {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 39%;
	z-index: 100;
	cursor: pointer;
}


#left_arrow {
	background-image: url(../Images/left.png);
	left: 2vw;
}
#right_arrow {
	background-image: url(../Images/right.png);
	right: 2vw;
}

#myhex {
	position: relative;
	margin: 0 auto;
	width: 30vw;
	height: 40vw;
	transform-style: preserve-3d;
	transition: all 5s;
	/*	 background-color: #F00;*/
}
.side {/*all 6 dives and 6 p's*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*	background-color: #F00;*/
}
div.side {
	box-shadow: inset 10px -20px 60px rgba(0,0,0,0.80);
}
#myhex .first {
	transform:rotateY(0deg) translateZ(33vw);
	background-image: url(../Images/two.jpeg);
}
#myhex .second {
	transform: rotateY(60deg) translateZ(33vw);
	background-image: url(../Images/five.jpeg);
}
#myhex .third {
	transform: rotateY(120deg) translateZ(33vw);
	background-image: url(../Images/four.jpeg);
}
#myhex .fourth {
	transform: rotateY(180deg) translateZ(33vw);
	background-image: url(../Images/eight.jpeg);
}
#myhex .fifth {
	transform: rotateY(240deg) translateZ(33vw);
	background-image: url(../Images/six.jpeg);
}
#myhex .sixth {
	transform: rotateY(300deg) translateZ(33vw);
	background-image: url(../images/seven.jpeg);
}
/*
#myhex p {
	font-size: 3vw;
	color: #fff;
	font-weight: 800;
	text-shadow: 2px 2px 0px #000000;
	padding: 1vw 3vw;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: center;
}

#myhex p a {
	display: inline-block;
	width: 7vw;
	height: 7vw;
	background-image: url(../ui_images/view.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#myhex .firstText {
	transform: rotateY(0deg) translateZ(32vw);
}
#myhex .secondText {
	transform: rotateY(60deg) translateZ(32vw);
}
#myhex .thirdText {
	transform: rotateY(120deg) translateZ(32vw);
}
#myhex .fourthText {
	transform: rotateY(180deg) translateZ(32vw);
}
#myhex .fifthText {
	transform: rotateY(240deg) translateZ(32vw);
}
#myhex .sixthText {
	transform: rotateY(300deg) translateZ(32vw);
}*/
footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	padding: 1vw;

}
footer p {
	font-size: 18px;
	text-align: center;
	color: #ddd;
	margin-bottom: 10px;
}

/*************************************************************************************************************************/
@media only screen and (max-width : 320px) {
	#myhex p {
		font-size: 5vw;
		padding: 0;
	}
	header {
		display: flex;
		width: 100%;
	}
	.nav {
		font-size: 15px;
		padding:2px;
		position: relative;
		align-items: end;
		color: white;
	}

	#parent_of_myhex
	{
		perspective: 1800px;
		position: relative;
		top:150px;
		transform:scale(0.8);

	}
	#left_arrow, #right_arrow {
		width: 20px;
		height: 20px;/* top: 10px;*/

	}
	#myhex p a {
		width: 19vw;
		height: 16vw;
	}

	#myhex{
		height: 70vw;
	}
	footer p{
		font-size: 11pt;
	}
}