@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');
body {
    margin: 0;
    padding: 0;
}
.main_container {
    background-image: url("../img/tech_background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0.7;
}
#second_bar {
    width: 100vw;
    height: 7vh;
    background-color: #363636;
    color: #ffffff;
}
#center_nav{
    padding: .5%;
    height: 7vh;
}
#menu  {
    text-align: center;}
.li{
    display: inline-flex;
    margin-left: 100px;
    align-items: end;
    height: 3vh;

}
.c {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
label {
    display: block;
    line-height: 2;
    color: #000000;
}
#input_click {
    border: none;
    font-weight: 700;
    padding: 0.6rem;
    box-shadow: blue 0 0 0 2px inset,
    rgb(255, 255, 255) 5px -5px 0 -2px,
    rgb(31, 193, 27) 5px -5px,
    rgb(255, 255, 255) 10px -10px 0 -2px,
    rgb(255, 217, 19) 10px -10px;
    border-radius: 5px;
}
#hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
}
.career {
    padding: 3% 2%;
    width: 45%;
    display: inline-block;
    background-color: #f1f1f1;

}

#logo {
    position: absolute;
    top: 3%;
    left: 20px;
    font-size: 14px;
    line-height: 2;
    font-weight: 200;
    color: #03DAC6;
    text-shadow: 1px 1px 1px rgba(187, 134, 252, 0.9);
    font-family: "Brush Script MT", cursive;
}
.nav_a {
    text-decoration: none;
    color: #fff;
}

.second_name {
    display: inline-block;
    border: solid blue 3px;
    height: 7vh;
    float: right;
    align-content: center;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    width: 20vh;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
}
article {
    width: 100vw;
    height: 80vh;
}

#disappear {
    visibility: hidden;
}

#one {
    animation: hide 2s;
    position: relative;
    animation-delay: 1s;
    border: solid red 2px;
}
#two {
    position: relative;
    animation: hide 4s;
}
#three  {
    position: relative;
    animation: hide 5s;

}
#four {
    position: relative;
    animation: hide 6s;
}
#five {
    position: relative;
    animation: hide 7s;
}

@keyframes hide {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
    }
h1 {
    margin: 0 10%;
    position: relative;
    left: 400px;
    top: 70%;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: 2s;
    animation: example 10s;
    z-index: 1;
    display: inline-flex;
    font-size: 3.3em;
    color: #39FF14;
}
h2 {
    text-align: center;
    font-family: cursive;
}
p {
    text-align: justify;
    font-family: "Doto", sans-serif;
    font-weight: 900;
}

#label {
    font-family: "Doto", sans-serif;
    font-size: 150%;
}

summary {
    font-family: "Doto", sans-serif;
    font-size: 100%;
    font-weight: 900;
}
/*span {
    width: 30vw;
    text-align: center;
    display: block;
    font-size: 17pt;
    padding: 3%;
    font-family: cursive;
}*/

.first_content {
    padding:1%;
    font-size: 90%;
    width: 30%;
    display: inline-block;
}
#content_left {
    background: aqua;
    padding: 1%;
}
@keyframes example {
    0%   {left: 0; top: 0; color: #000000}
    25%  {left: 0; top:450px; color: #000000;}
    50%  {left:400px; top: 70%;color:#000000;}
    100%  {left:400px; top: 70%;color:#000000;}
}
.blobs {
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: transform 0.2s;
    animation: pulses 10s infinite;
    margin: 5% 10%;
    font-size: 30pt;
}

.code {
    font-size: 3em;
    display: inline-block;
    transition: transform 0.2s;
}

@keyframes pressDown1 {
    30%,
    40%,
    100% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(10px);
    }
}

@keyframes pressDown2 {
    70%,
    80%,
    100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }
}

@keyframes pressDown3 {
    30%,
    40%,
    100% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(10px);
    }
}

@keyframes pressDown4 {
    40%,
    50%,
    100% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(10px);
    }
}

@keyframes pressDown5 {
    20%,
    30%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(10px);
    }
}

@keyframes pressDown6 {
    60%,
    70%,
    100% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(10px);
    }
}

.code:nth-child(1) {
    animation: pressDown1 2s infinite;
}

.code:nth-child(2) {
    animation: pressDown2 3s infinite;
}

.code:nth-child(3) {
    animation: pressDown3 4s infinite;
}

.code:nth-child(4) {
    animation: pressDown4 2.5s infinite;
}

.code:nth-child(5) {
    animation: pressDown5 2.5s infinite;
}

.code:nth-child(6) {
    animation: pressDown6 3.5s infinite;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding-top: 5%;
}
#container_content {
    margin: auto;
    width: 40%;
    color: white;
    font-family: "Doto", sans-serif;
    font-size: 120%;
}
#container_content_two{
    margin: auto;
    width: 40vw;
    height: 60vh;
    background-image:url("../img/profileimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5% 5% 0 0;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);

}
.second_image {
    background-image:url("../img/office_raw.jpeg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    width: 45%;
    height: 500px;
}
.codes {
    background-image:url("../img/office.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    width: 45%;
    height: 500px;
}

footer{
    width: 100vw;
    height: 10vh;
    padding: 10% 0;
}
.remove_point {
    text-align: center;
    align-content: center;
}
.footer_a {
    text-decoration: none;
    color:#000;
}

.remove_point {
    font-family: "Agu Display", serif;
    font-size: 100%;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "MORF" 0;
}

/*  Mobile device setting */


@media only screen and (max-width: 1080px) {
    body {
        font-family: "times New Roman", Times, serif;
    }
    .main_container {
        height: 80vh;
        background-size:cover;
    }
    .name {
        color: red;
    }
    #container {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    #container_content {
        font-size: 1.1em;
        width: 80vw;
        padding: 8% 5%;
        font-weight: bold;
    }
    #container_content_two {
        padding: 15% 5%;
        width: 70%;
        height: 35vh;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
    .blob {
        font-size: 0.6em;
    }
    #navbar {
        display: none;
    }
    #second_bar {
        align-items: center;
    }
    .first_content {
        width: 45%;
    }

    h1 {
        margin: 0;
        font-size: 30px;
        position: relative;
        top: 65%;
        left: 350px;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
        animation: example 5s;
        z-index: 1;
    }
    @keyframes example {
        0%   {left: 0; top:0;}
        25%  {left: 0; top: 435px;}
        50%  {left: 380px; top: 70%;color:gold;}
        75%  {left: 380px; top: 70%;color:green;}
    }
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
    }
    #second_bar {
        height: 6vh;
    }
    textarea {
        width: 90%;
    }
    input {
        border: none;
    }
    #career_left, #career_right {
        width: 90%;
        display: block;
    }
    .menu {
        display: flex;
        height: 1vh;
        justify-content: space-around;
        align-items: center;
    }
    .li {
        position: relative;
        left: -40px;
        margin-left: 10px;
        font-size: 0.7em;
        padding: 0 8%;
    }
    #logo {
        display: none;
    }
    .second_name {
        width: 20vw;
        height: 5vh;
    }
    #container_content {
        padding: 10% 0;
        line-height: 1;
        width: 90%;
        font-weight: bold;
        font-size: 100%;
    }
    #container {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }

    #hello {
        margin: 0 5%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .career {
        width: 80vw;
    }
    .first_content {
        display: block;
        border-radius: 10px;
        padding: 2%;
        width: 80%;
        margin: auto;
        font-size: 1.2em;
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: bold;
        color: #000;
        border: green dot-dash 2px;
        background-color: rgba( 255, 255, 255, 1);
        text-align: center;
    }
    .main_container {
        background-image: url("../img/tech_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }
    #container_content_two {
        width: 90%;
        height: 40vh;
        border-radius: 2%;
        display: block;
        margin: auto;
    }
    h1 {
        margin: 0;
        font-size: 1.0em;
        position: relative;
        top: 160px;
        left: 130px;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
        animation: example 5s;
        z-index: 1;
    }

    .blob { text-align: center}

    .code {
        font-size: 1.2em;
    }


    @keyframes example {
        0%   {left: 0; top:0;}
        25%  {left: 0; top: 155px;}
        50%  {left: 170px; top: 160px;color:gold;}
        75%  {left: 170px; top: 160px;color:green;}
    }

    .c {
        flex-direction: column;
        border: solid black 1px;
    }
    .second_image {
        background-image:url("../img/office_raw.jpeg");
        background-size: 100% 300px;
        background-repeat: no-repeat;
        height: 350px;
        width: 100%;

    }
    .codes {
        background-image:url("../img/office.jpg");
        background-size: 100% 300px;
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
    }
    h2 {
        text-align: center;
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1em;
        text-transform: uppercase;
    }


    #one, #two, #three, #four, #five{
        font-size: 60%;
        font-weight: 700;
    }

    .remove_point {
        font-size: 80%;
        display: block;
    }
}

