@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');
body {
    margin: 0;
    padding: 0;
}
h1 {
    display: inline-block;
}
.main_container {
    background-image: url("../img/tech_background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0.7;
}
#second_bar {
    width: 100vw;
    height: 7vh;
    background-color: #363636;
    color: #ffffff;
}
#center_nav{
    padding: .5%;
    height: 7vh;
}
ul  {
    text-align: center;

}
.li{
    display: inline-flex;
    margin-left: 100px;
    align-items: end;
    height: 3vh;

}
#logo {
    position: absolute;
    top: 3%;
    left: 20px;
    font-size: 14px;
    line-height: 2;
    font-weight: 200;
    color: #03DAC6;
    text-shadow: 1px 1px 1px rgba(187, 134, 252, 0.9);
    font-family: "Brush Script MT", cursive;
}
.nav_a {
    text-decoration: none;
    color: #fff;
}

.second_name {
    display: inline-block;
    border: solid blue 3px;
    height: 7vh;
    float: right;
    align-content: center;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    width: 20vh;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
}
article {
    width: 100vw;
    height: 80vh;
}
#one {
    animation: hide 2s;
    position: relative;
    animation-delay: 1s;
}
#two {
    position: relative;
    animation: hide 4s;
}
#three  {
    position: relative;
    animation: hide 5s;

}
#four {
    position: relative;
    animation: hide 6s;
}
#five {
    position: relative;
    animation: hide 7s;
}

@keyframes hide {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
    }
h1 {
    margin: 0 10%;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation: example 5s infinite;
    z-index: 1;
}
h2 {
    text-align: center;
    font-family: cursive;
}
p {
    text-align: justify;
    font-family: "Doto", sans-serif;
    font-weight: 900;
}

#label {
    font-family: "Doto", sans-serif;
    font-size: 150%;
}

summary {
    font-family: "Doto", sans-serif;
    font-size: 100%;
    font-weight: 900;
}
/*span {
    width: 30vw;
    text-align: center;
    display: block;
    font-size: 17pt;
    padding: 3%;
    font-family: cursive;
}*/

.first_content {
    padding:1%;
    font-size: 90%;
    width: 30%;
    display: inline-block;
}
#content_left {
    background: aqua;
    padding: 1%;
}
@keyframes example {
    0%   {left:0; top:0;}
    25%  {left:100px; top:0;}
    50%  {left:100px; top:200px;color:gold;}
    75%  {left:0; top:200px;color:green;}
    100% {left:0; top:0;}
}
.blob {
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: rotate(0deg);
    animation: pulse 10s infinite;
    margin: 20% 20%;
    font-size: 30pt;
}

@keyframes pulse {
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
        color: red;
    }
}

#container {
    height: 80vh;
}
#container_content {
    margin: auto;
    width: 45vw;
    background-color: white;
    padding: 2%;
    font-family: "Doto", sans-serif;
    font-size: 120%;
}
#container_content_two{
    margin: auto;
    width: 55vw;
    height: 40vh;
    padding: 2%;
    background-image:url("../img/profileimage.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
footer{
    width: 100vw;
    height: 10vh;
}
.remove_point {
    text-align: center;
    align-content: center;
}
.footer_a {
    text-decoration: none;
    color:#000;
}

.remove_point {
    font-family: "Agu Display", serif;
    font-size: 120%;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "MORF" 0;
                  }
@media only screen and (max-width: 1080px) {
    body {
        font-family: "times New Roman", Times, serif;
    }
    .main_container {
        height: 60vh;
        background-size: cover;
    }
    .name {
        color: red;
    }
    #container_content {
        font-size: 1.1em;
        text-align: justify;

    }
    #container_content_two {
        padding: 1% 0;

    }
    #navbar {
        display: none;
    }
    #second_bar {
        align-items: center;
    }
    .first_content {
        width: 45%;
    }
}
@media only screen and (max-width: 550px) {
    body {
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
    }
    #second_bar {
        height: 6vh;
    }
    #center_nav{
    }
    ul {
        display: flex;
        height: 1vh;
        justify-content: space-around;
        align-items: center;
    }
    .li {
        position: relative;
        left: -35px;
        margin-left: 20px;
    }
    #logo {
        display: none;
    }
    .second_name {
        width: 20vw;
        height: 5vh;
    }
    #container_content {
        padding: 10% 0;
        line-height: 1;
        width: 90%;
        font-weight: bold;
        font-size: 100%;
    }
    #container {
        height: 70vh;
        padding: 2%;
    }
    #hello {
        height: 80vh;
        margin: 0 5%;
    }
    .first_content {
        display: block;
        border-radius: 10px;
        padding: 2%;
        width: 80%;
        margin: auto;
        font-size: 1.1em;
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: bold;
        color: #000;
        border: green dot-dash 2px;
        background-color: rgba( 255, 255, 255, 1);
        text-align: center;
    }
    .main_container {
        background-image: url("../img/tech_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }
    #container_content_two {
        width: 90%;
        display: block;
        margin: auto;
    }
    h1 {
        margin: 0;
        font-size: 14px;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 2s;
        animation: example 5s infinite;
        z-index: 1;
    }
    @keyframes examples {
        0%   {left: 0; top:0;}
        25%  {left: 20px; top:0;}
        50%  {left: 40px; top:50px;color:gold;}
        75%  {left:0; top: 150px;color:green;}
        100% {left:0; top:0;}
    }
    h2 {
        text-align: center;
        font-family: "Doto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-transform: uppercase;
    }
    .blob {
        background: white;
        border-radius: 50%;
        height: 30px;
        width: 100px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: skew(0deg);
        animation: pulse 8s infinite;
        margin: auto;
        font-size: 2em;
    }

    #one, #two, #three, #four, #five{
        font-size: 60%;
        font-weight: 700;
    }

    @keyframes pulses {
        0% {
            transform: skew(0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }

        20% {
            transform: skew(10deg);
            background: yellow;
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        40% {
            transform: skew(25deg);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            background: green;
        }
        60% {
            background: black;
            transition: width 5s;
            width: 20px;
        }
        80% {
            background: gold;
        }
    }
    .remove_point {
        font-size: 100%;
        display: block;
    }
}

